name: Test Synthesizer

on:
  workflow_run:
    workflows: ["Build and Push Synthesizer Image"]
    types:
      - completed

jobs:
  test-synthesizer:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # Removes pre-installed tools to free up ~10-20GB
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up training_data directory
        run: mkdir -p training_data && mkdir -p training_data/pdfs && mkdir -p training_data/musicxml && mkdir -p training_data/images

      - name: Run RhythmForm Synthesizer Docker
        run: |
          docker run -u $(id -u):$(id -g) -v ${{ github.workspace }}/training_data:/app/training_data ghcr.io/drumscoreai/rhythmform-synthesizer:latest 1 1

      - name: Check output files
        run: |
          ${{ github.workspace }}/tests/test_synth.sh ${{ github.workspace }}