name: Test Synthesizer

on:
  workflow_run:
    workflows: ["Build and Push Core Image", "Build and Push Core-CPU Image"]
    types:
      - completed
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  test-synthesizer:
    runs-on: ubuntu-latest
    steps:
      # - name: Free Disk Space (Ubuntu)
      #   uses: jlumbroso/free-disk-space@main
      #   with:
      #     # Removes pre-installed tools to free up ~10-20GB
      #     tool-cache: false
      #     android: true
      #     dotnet: true
      #     haskell: true
      #     large-packages: true
      #     docker-images: true
      #     swap-storage: true
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up training_data directory
        run: mkdir -p training_data && mkdir -p training_data/pdfs && mkdir -p training_data/musicxml && mkdir -p training_data/images

      - name: Run RhythmForm Synthesizer Docker
        run: |
          docker run -u $(id -u):$(id -g) -e RHYTHMFORMHOME=/app -v ${{ github.workspace }}/training_data:/app/training_data ghcr.io/drumscoreai/rhythmform-core-cpu:latest /app/scripts/synthesizer.sh -s 1 -n 1 -S
        # Usage: /app/scripts/synthesizer.sh [-s|--scores NUM] [-n|--num-cores NUM] [-S|--use_stdout] [-c|--continuation]
        # -s, --scores NUM         Number of scores to generate (default: 30)
        # -n, --num-cores NUM      Number of cores to use (default: 1)
        # -S, --use_stdout         Log to stdout instead of file
        # -c, --continuation       Continue previous synthesis run
        # -h, --help               Show this help message

      - name: Check output files
        run: |
          ${{ github.workspace }}/tests/test_synth.sh ${{ github.workspace }}